.container {
  background-image: linear-gradient(to bottom, #46c3cd, #62d3c2, #8ce1b3, #bceca6, #eef49f);
}

.uk-logo > img {
  height: 90px;
  padding: 25px;
}

uk-navbar,
.footer {
  height: 80px;
  background: transparent;
}

.uk-padding-large > img {
  padding-bottom: 70px;
}

.uk-light,
.uk-navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.9);
}

.uk-navbar-nav > li:hover > a {
  color: rgba(255, 255, 255, 1);  
}

.uk-navbar-right {
  padding-right: 25px;
}

.uk-accordion-title::before {
  padding: 5px;
  border: 1px solid #19BABA;
}

@font-face font-family: 'CenturyGothic'
src: url('../fonts/CenturyGothic.ttf') format('truetype')
/* Safari, Android, iOS */

@font-face font-family: 'CenturyGothicBold'
src: url('../fonts/CenturyGothic - Bold.ttf') format('truetype')
/* Safari, Android, iOS */

@font-face font-family: 'CenturyGothicItalic'
src: url('../fonts/CenturyGothic - Italic.ttf') format('truetype')
/* Safari, Android, iOS */