.uk-nav li {
  text-align: left;
}

.uk-button img {
  padding: 20px;
}

.uk-card {
  margin: 5px;
}

.uk-button-default {
  background-color : #fff;
  color: #000;
  border-color : #fff;
}

.uk-button-default:hover {
  background-color : #fff;
  color: #000;
  border-color : #fff;
}

.uk-modal-body .uk-button-default {
  background-color : #fff;
  color: #000;
  border-color : #e5e5e5;
}
